<div class="row mt-5 mb-5">
  <div class="col-6">
    <select #offerSelector class="form-select" aria-label="Default select example"  (change)="update()" >
      <option selected>Seleccione una oferta</option>
      <option *ngFor="let offer of offers" [value]="offer?.versions[0]?.id">{{ offer?.versions[0]?.name }}</option>
    </select>
  </div>
  <div class="col-6">

    <div class="row g-3 align-items-center mb-3">
      <div class="col-4 text-end">
        <label for="inputPassword" class="col-form-label">Id Oferta: </label>
      </div>
      <div class="col-8">
        <span type="password" id="inputPassword" class="form-control"
          aria-describedby="passwordHelpInline">{{ offerId || 'Seleccione una oferta' }}</span>
      </div>
    </div>

    <div class="row g-3 align-items-center mb-3">
      <div class="col-4 text-end">
        <label for="inputPassword" class="col-form-label">Nombre: </label>
      </div>
      <div class="col-8">
        <span type="password" id="inputPassword" class="form-control" aria-describedby="passwordHelpInline">
          {{ offerName || 'Seleccione una oferta'}}
        </span>
      </div>
    </div>
  </div>
</div>
